jwsur2/jwsur2-ch5/src/main/resources/xsd/echo.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . -->
<xs:schema xmlns:tns="http://transportlevel.ch5.jwsur2.mkalin.github.com/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
  targetNamespace="http://transportlevel.ch5.jwsur2.mkalin.github.com/">

  <xs:element name="echo" type="tns:echo" />

  <xs:element name="echoResponse" type="tns:echoResponse" />

  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>