jwsur2-ch5/src/main/resources/xsd/base64.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:tns="http://base64.images.ch5.jwsur2.mkalin.github.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://base64.images.ch5.jwsur2.mkalin.github.com/">

	<xs:element name="getImage" type="tns:getImage" />

	<xs:element name="getImageResponse" type="tns:getImageResponse" />

	<xs:element name="getImages" type="tns:getImages" />

	<xs:element name="getImagesResponse" type="tns:getImagesResponse" />

	<xs:complexType name="getImage">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getImageResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:base64Binary"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getImages">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getImagesResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:base64Binary"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>