jwsur2-ch5/src/main/resources/xsd/predictions.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.7-b01-. -->
<xs:schema xmlns:tns="http://predictions.ch5.jwsur2.mkalin.github.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://predictions.ch5.jwsur2.mkalin.github.com/">

	<xs:element name="VerbosityException" type="tns:VerbosityException" />

	<xs:element name="create" type="tns:create" />

	<xs:element name="createResponse" type="tns:createResponse" />

	<xs:element name="delete" type="tns:delete" />

	<xs:element name="deleteResponse" type="tns:deleteResponse" />

	<xs:element name="edit" type="tns:edit" />

	<xs:element name="editResponse" type="tns:editResponse" />

	<xs:element name="getAll" type="tns:getAll" />

	<xs:element name="getAllResponse" type="tns:getAllResponse" />

	<xs:element name="getOne" type="tns:getOne" />

	<xs:element name="getOneResponse" type="tns:getOneResponse" />

	<xs:complexType name="getAll">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getAllResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:prediction" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="prediction">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="what" type="xs:string" minOccurs="0" />
			<xs:element name="who" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="edit">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
			<xs:element name="arg1" type="xs:string" minOccurs="0" />
			<xs:element name="arg2" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="editResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VerbosityException">
		<xs:sequence>
			<xs:element name="faultInfo" type="xs:string" minOccurs="0" />
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="delete">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="deleteResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getOne">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getOneResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:prediction" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="create">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
			<xs:element name="arg1" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>