jwsur2/jwsur2-ch6/src/main/resources/com/github/mkalin/jwsur2/ch6/wssecurity/echo.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 
  JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://wssecurity.ch6.jwsur2.mkalin.github.com/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
  targetNamespace="http://wssecurity.ch6.jwsur2.mkalin.github.com/">

  <xs:element name="echo" type="tns:echo" />

  <xs:element name="echoResponse" type="tns:echoResponse" />

  <xs:complexType name="echo">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="echoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>