jaxws-servlet-container-client/jaxws-servlet-container-client-appClient/src/wsdl/TimeServiceServletContainer.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema
	xmlns:tns="http://container.servlet.jaxws.ocewsd.abhijitsarkar.certification.edu/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://container.servlet.jaxws.ocewsd.abhijitsarkar.certification.edu/">

	<xs:element name="UnsupportedTimeZoneException" type="tns:UnsupportedTimeZoneException" />

	<xs:element name="getCurrentTime" type="tns:getCurrentTime" />

	<xs:element name="getCurrentTimeResponse" type="tns:getCurrentTimeResponse" />

	<xs:complexType name="getCurrentTime">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getCurrentTimeResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:dateTime" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UnsupportedTimeZoneException">
		<xs:sequence>
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>