jwsur2-ch4/src/main/resources/xsd/rand.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.2.8 svn-revision#13980. -->
<xs:schema xmlns:tns="http://rand.ch4.jwsur2.mkalin.github.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://rand.ch4.jwsur2.mkalin.github.com/">

	<xs:element name="next1" type="tns:next1" />

	<xs:element name="next1Response" type="tns:next1Response" />

	<xs:element name="nextN" type="tns:nextN" />

	<xs:element name="nextNResponse" type="tns:nextNResponse" />

	<xs:complexType name="next1">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="next1Response">
		<xs:sequence>
			<xs:element name="return" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="nextN">
		<xs:sequence>
			<xs:element name="arg0" type="xs:int" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="nextNResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:int" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>