jwsur2-ch5/src/main/resources/wsdl/predictions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
  RI's version is JAX-WS RI 2.2.5-b05 . -->
<definitions
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://predictions.ch5.jwsur2.mkalin.github.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://predictions.ch5.jwsur2.mkalin.github.com/"
  name="PredictionsSOAPService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://predictions.ch5.jwsur2.mkalin.github.com/"
        schemaLocation="../xsd/predictions.xsd" />
    </xsd:schema>
  </types>
  <message name="delete">
    <part name="parameters" element="tns:delete" />
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse" />
  </message>
  <message name="create">
    <part name="parameters" element="tns:create" />
  </message>
  <message name="createResponse">
    <part name="parameters" element="tns:createResponse" />
  </message>
  <message name="VerbosityException">
    <part name="fault" element="tns:VerbosityException" />
  </message>
  <message name="getAll">
    <part name="parameters" element="tns:getAll" />
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse" />
  </message>
  <message name="edit">
    <part name="parameters" element="tns:edit" />
  </message>
  <message name="editResponse">
    <part name="parameters" element="tns:editResponse" />
  </message>
  <message name="getOne">
    <part name="parameters" element="tns:getOne" />
  </message>
  <message name="getOneResponse">
    <part name="parameters" element="tns:getOneResponse" />
  </message>
  <portType name="PredictionsSOAP">
    <operation name="delete">
      <input
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/deleteRequest"
        message="tns:delete" />
      <output
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/deleteResponse"
        message="tns:deleteResponse" />
    </operation>
    <operation name="create">
      <input
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/createRequest"
        message="tns:create" />
      <output
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/createResponse"
        message="tns:createResponse" />
      <fault message="tns:VerbosityException" name="VerbosityException"
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/create/Fault/VerbosityException" />
    </operation>
    <operation name="getAll">
      <input
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/getAllRequest"
        message="tns:getAll" />
      <output
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/getAllResponse"
        message="tns:getAllResponse" />
    </operation>
    <operation name="edit">
      <input
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/editRequest"
        message="tns:edit" />
      <output
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/editResponse"
        message="tns:editResponse" />
      <fault message="tns:VerbosityException" name="VerbosityException"
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/edit/Fault/VerbosityException" />
    </operation>
    <operation name="getOne">
      <input
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/getOneRequest"
        message="tns:getOne" />
      <output
        wsam:Action="http://predictions.ch5.jwsur2.mkalin.github.com/PredictionsSOAP/getOneResponse"
        message="tns:getOneResponse" />
    </operation>
  </portType>
  <binding name="PredictionsSOAPPortBinding" type="tns:PredictionsSOAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document" />
    <operation name="delete">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="create">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="VerbosityException">
        <soap:fault name="VerbosityException" use="literal" />
      </fault>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="edit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="VerbosityException">
        <soap:fault name="VerbosityException" use="literal" />
      </fault>
    </operation>
    <operation name="getOne">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PredictionsSOAPService">
    <port name="PredictionsSOAPPort" binding="tns:PredictionsSOAPPortBinding">
      <soap:address location="http://localhost:8080/ch5/predictions" />
    </port>
  </service>
</definitions>