jwsur2-ch5/src/main/resources/wsdl/predictions.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://predictions.ch5.jwsur2.mkalin.github.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://predictions.ch5.jwsur2.mkalin.github.com/"
	name="PredictionsSOAPService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://predictions.ch5.jwsur2.mkalin.github.com/"
				schemaLocation="../xsd/predictions.xsd" />
		</xsd:schema>
	</types>
	<message name="delete">
		<part name="parameters" element="tns:delete" />
	</message>
	<message name="deleteResponse">
		<part name="parameters" element="tns:deleteResponse" />
	</message>
	<message name="create">
		<part name="parameters" element="tns:create" />
	</message>
	<message name="createResponse">
		<part name="parameters" element="tns:createResponse" />
	</message>
	<message name="VerbosityException">
		<part name="fault" element="tns:VerbosityException" />
	</message>
	<message name="getAll">
		<part name="parameters" element="tns:getAll" />
	</message>
	<message name="getAllResponse">
		<part name="parameters" element="tns:getAllResponse" />
	</message>
	<message name="getOne">
		<part name="parameters" element="tns:getOne" />
	</message>
	<message name="getOneResponse">
		<part name="parameters" element="tns:getOneResponse" />
	</message>
	<message name="edit">
		<part name="parameters" element="tns:edit" />
	</message>
	<message name="editResponse">
		<part name="parameters" element="tns:editResponse" />
	</message>
	<portType name="PredictionsSOAP">
		<operation name="delete">
			<input message="tns:delete" />
			<output message="tns:deleteResponse" />
		</operation>
		<operation name="create">
			<input message="tns:create" />
			<output message="tns:createResponse" />
			<fault message="tns:VerbosityException" name="VerbosityException" />
		</operation>
		<operation name="getAll">
			<input message="tns:getAll" />
			<output message="tns:getAllResponse" />
		</operation>
		<operation name="getOne">
			<input message="tns:getOne" />
			<output message="tns:getOneResponse" />
		</operation>
		<operation name="edit">
			<input message="tns:edit" />
			<output message="tns:editResponse" />
			<fault message="tns:VerbosityException" name="VerbosityException" />
		</operation>
	</portType>
	<binding name="PredictionsSOAPPortBinding" type="tns:PredictionsSOAP">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="delete">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="create">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VerbosityException">
				<soap:fault name="VerbosityException" use="literal" />
			</fault>
		</operation>
		<operation name="getAll">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getOne">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="edit">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="VerbosityException">
				<soap:fault name="VerbosityException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="PredictionsSOAPService">
		<port name="PredictionsSOAPPort" binding="tns:PredictionsSOAPPortBinding">
			<soap:address location="http://localhost:8080/ch5/predictions" />
		</port>
	</service>
</definitions>