jaxws-bindings/src/main/resources/wsdl/calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/"
	name="Calculator">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/"
				schemaLocation="../xsd/calculator.xsd" />
		</xsd:schema>
	</types>
	<message name="addRequest">
		<part name="parameters" element="tns:addRequest" />
	</message>
	<message name="addResponse">
		<part name="parameters" element="tns:addResponse" />
	</message>
	<message name="subtractRequest">
		<part name="parameters" element="tns:subtractRequest" />
	</message>
	<message name="subtractResponse">
		<part name="parameters" element="tns:subtractResponse" />
	</message>
	<portType name="Calculator">
		<operation name="add">
			<input
				wsam:Action="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/addRequest"
				message="tns:addRequest" />
			<output
				wsam:Action="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/addResponse"
				message="tns:addResponse" />
		</operation>
		<operation name="subtract">
			<input
				wsam:Action="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/subtractRequest"
				message="tns:subtractRequest" />
			<output
				wsam:Action="http://abhijitsarkar.name/learning/webservices/jaxws/calculator/subtractResponse"
				message="tns:subtractResponse" />
		</operation>
	</portType>
	<binding name="CalculatorBinding" type="tns:Calculator">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="add">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="subtract">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CalculatorService">
		<port name="CalculatorPort" binding="tns:CalculatorBinding">
			<soap:address location="http://localhost:8080/jaxws/calculator" />
		</port>
	</service>
</definitions>